
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}


<div class="panel panel-body panel-default  navigation">

    <div class="pull-left">
        <h4 class="navigation-title"><b>تنظیمات</b></h4>
    </div>

    <div class="pull-right">
        @*<a href="#" onclick="Create()"><i class="glyphicon glyphicon-plus navigation-btn-icon"></i></a>*@
    </div>

</div>





<div class="panel panel-default setting-panel">
    <ul class=" nav nav-tabs nav-justified bookshow-panel-tabs">
        <li class="active"><a href="#MainSite" data-toggle="tab">سایت اصلی</a></li>
        <li><a href="#Users" data-toggle="tab">کاربران</a></li>
        <li><a href="#Network" data-toggle="tab">شبکه</a></li>
        <li><a href="#Server" data-toggle="tab">سرور</a></li>
    </ul>

    <div class="panel-body">
        <div class="tab-content">
            <div class="tab-pane fade in active" id="MainSite">

                <div class="panel setting-col" style="line-height:40px;">
                    <div class="pull-left setting-col-titel">
                        <i class="glyphicon glyphicon-cog setting-col-titel-icon"></i>
                        محل کتابخانه
                    </div>

                    <div class="pull-right ">
                        <a class="control btn btn-primary btn-sm glyphicon glyphicon-list" href="@Url.Action("LibraryList","Setting")"></a>
                        <a class="control btn btn-success btn-sm glyphicon glyphicon-plus" onclick="LibraryLocatCreate()"></a>
                    </div>
                </div>
                <div class="panel setting-col" style="line-height:40px;">
                    <div class="pull-left setting-col-titel">
                        <i class="glyphicon glyphicon-cog setting-col-titel-icon"></i>
                        محل کتابخانه
                    </div>

                    <div class="pull-right ">
                        <a class="control btn btn-primary btn-sm glyphicon glyphicon-list" href="@Url.Action("LibraryList","Setting")"></a>
                        <a class="control btn btn-success btn-sm glyphicon glyphicon-plus" onclick="LibraryLocatCreate()"></a>
                    </div>
                </div>
                <div class="panel setting-col" style="line-height:40px;">
                    <div class="pull-left setting-col-titel">
                        <i class="glyphicon glyphicon-cog setting-col-titel-icon"></i>
                        محل کتابخانه
                    </div>

                    <div class="pull-right ">
                        <a class="control btn btn-primary btn-sm glyphicon glyphicon-list" href="@Url.Action("LibraryList","Setting")"></a>
                        <a class="control btn btn-success btn-sm glyphicon glyphicon-plus" onclick="LibraryLocatCreate()"></a>
                    </div>
                </div>
                <div class="panel setting-col" style="line-height:40px;">
                    <div class="pull-left setting-col-titel">
                        <i class="glyphicon glyphicon-cog setting-col-titel-icon"></i>
                        محل کتابخانه
                    </div>

                    <div class="pull-right ">
                        <a class="control btn btn-primary btn-sm glyphicon glyphicon-list" href="@Url.Action("LibraryList","Setting")"></a>
                        <a class="control btn btn-success btn-sm glyphicon glyphicon-plus" onclick="LibraryLocatCreate()"></a>
                    </div>
                </div>


            </div>


            <div class="tab-pane fade" id="Users">
                <div class="panel setting-col" style="line-height:40px;">
                    <div class="pull-left setting-col-titel">
                        <i class="glyphicon glyphicon-cog setting-col-titel-icon"></i>
                        نقش ها
                    </div>

                    <div class="pull-right ">
                        <a class="control btn btn-primary btn-sm glyphicon glyphicon-list" href="@Url.Action("Role_List","Setting")"></a>
                        @*<a class="control btn btn-success btn-sm glyphicon glyphicon-plus" onclick="LibraryLocatCreate()"> </a>*@
                    </div>
                </div>

                <div class="panel setting-col" style="line-height:40px;">
                    <div class="pull-left setting-col-titel">
                        <i class="glyphicon glyphicon-cog setting-col-titel-icon"></i>
                        کاربران
                    </div>

                    <div class="pull-right ">
                        <a class="control btn btn-primary btn-sm glyphicon glyphicon-list" href="@Url.Action("User_List","Setting")"></a>
                        <a class="control btn btn-success btn-sm glyphicon glyphicon-plus" onclick="UserCreate()"></a>
                    </div>
                </div>



            </div>
            <div class="tab-pane fade" id="Network">

            </div>
            <div class="tab-pane fade" id="Server">

            </div>
        </div>
    </div>

</div>





@Html.Partial("_Modal")

@section Modal{
    <script>


        function UserCreate() {
            $.ajax({
                url: "/Setting/User_Add",
                type: "Get",
                data: {}
            }).done(function (result) {
                $('#myModal').modal('show');
                $('#myModalLabel').html('افزودن کاربر');
                $('#myModalBody').html(result);
            });
        }

    </script>
}






