@model IEnumerable<Wtiau.Health.Web.Models.ViewModels.Model_UserList>

@{
    ViewBag.Title = "کاربران";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}

    <div class="panel panel-body panel-default navigation">

        <div class="pull-left">
            <h4 class="navigation-title"><b>لیست آزمون های حضوری ثبت نام شده</b></h4>
        </div>

        <div class="pull-right">
            <a href="javascript:void(0)" onclick="Create()" data-toggle='tooltip' data-placement='auto' title='افزودن کاربر'>
                <i class="glyphicon glyphicon-plus navigation-btn-icon"></i>
            </a>
        </div>

    </div>

<div class="panel panel-default">

    <div class="panel-body table-body" style="overflow-x:auto;">

        <table id="DateTable" class="table table-bordered table-striped table-secondary" style="width:100%;">

            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.Name)</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.Family)</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.Role)</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.Email)</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.Mobile)</th>
                    <th scope="col" data-orderable="false">کنترل</th>
                </tr>
            </thead>

            <tbody>

                @{
                    int x = 0;
                }

                @foreach (var item in Model)
                {
                    x++;

                    <tr>
                        <td scope="row">@x</td>
                        <td scope="row">
                            <span>@Html.DisplayFor(modelItem => item.Name)</span>
                        </td>
                        <td scope="row">
                            <span>@Html.DisplayFor(modelItem => item.Family)</span>
                        </td>
                        <td scope="row">
                            <span>@Html.DisplayFor(modelItem => item.Role)</span>
                        </td>
                        <td scope="row">
                            <span>@Html.DisplayFor(modelItem => item.Email)</span>
                        </td>
                        <td scope="row">
                            <span>@Html.DisplayFor(modelItem => item.Mobile)</span>
                        </td>
                        <td>
                            <a class="control btn btn-warning btn-sm glyphicon glyphicon-pencil" data-toggle='tooltip' data-placement='auto' title='ویرایش' href="javascript:void(0)" onclick="Edit(@item.ID)"></a>
                            <a class="control btn btn-danger btn-sm glyphicon glyphicon-trash" data-toggle='tooltip' data-placement='auto' title='حذف' href="javascript:void(0)" onclick="Delete(@item.ID)"></a>
                        </td>
                    </tr>
                }

            </tbody>

        </table>

    </div>

</div>

@Html.Partial("_Modal")

@section Modal {

    <script>

        function Delete(id) {
            $.ajax({
                url: "/Setting/User_Delete/" + id,
                type: "Get",
                data: {}
            }).done(function (result) {
                $('#myModal').modal('show');
                $('#myModalLabel').html('حدف کاربر');
                $('#myModalBody').html(result);
            });
        }

        function Create() {
            $.ajax({
                url: "/Setting/User_Add",
                type: "Get",
                data: {}
            }).done(function (result) {
                $('#myModal').modal('show');
                $('#myModalLabel').html('افزودن کاربر');
                $('#myModalBody').html(result);
            });
        }

        function Edit(id) {
            $.ajax({
                url: "/Setting/User_Edit/" + id,
                type: "Get",
                data: {}
            }).done(function (result) {
                $('#myModal').modal('show');
                $('#myModalLabel').html('ویرایش کاربر');
                $('#myModalBody').html(result);
            });
        }

    </script>

}