@using Wtiau.Health.Web.Models.Repository
@using Wtiau.Health.Web.Models.ViewModels;
@using Wtiau.Health.Web.Models.Domian;

@{
    if (User.Identity.IsAuthenticated)
    {
        if (User.IsInRole("Admin") || User.IsInRole("SuperAdmin"))
        {
            Rep_User info = new Rep_User();
            Model_AccountInfo infoModel = new Model_AccountInfo();
            infoModel = info.GetInfoForNavbar(User.Identity.Name);

            if (infoModel == null)
            {
                Response.Redirect("~/Account/Logout");
            }
            else
            {
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <!-- Messages: style can be found in dropdown.less-->
                        <li class="dropdown messages-menu menu-item ">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                <i class="fa fa-envelope nav-top-userInfo-icon"></i>
                                <span class="label label-success">0</span>
                            </a>
                        </li>
                        <!-- Notifications: style can be found in dropdown.less -->
                        <li class="dropdown notifications-menu menu-item">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-bell nav-top-userInfo-icon" style="padding-right: 7px;"></i>
                                <span class="label label-warning">0</span>
                            </a>
                        </li>
                        <!-- User Account: style can be found in dropdown.less -->
                        <li class="dropdown user user-menu menu-item ">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                                <i class="glyphicon glyphicon-user  nav-top-userInfo-icon"></i>
                                <span class="hidden-xs nav-username">@infoModel.Name</span>
                            </a>
                            <ul class="dropdown-menu">
                                <!-- User image -->
                                <li class="user-header">
                                    <img src="~/Content/Images/abstract-user-flat-3.png" style="width:100px;height:100px;" class=" img-circle" alt="User Image">
                                    <p>
                                        @infoModel.Name
                                        <br />
                                        <small>@infoModel.Role</small>
                                    </p>
                                </li>
                                <li class="user-footer">
                                    <div class="pull-left">
                                        <a href="@Url.Action("index","Dashboard")" class="btn btn-default btn-flat" style="width:65px;">داشبورد</a>
                                    </div>
                                    <div class="pull-right">
                                        <a href="@Url.Action("Logout","Account")" class="btn btn-default btn-flat" style="width:65px;">خروج</a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            }
        }
        else
        {
            Rep_Student info = new Rep_Student();
            Model_AccountInfo infoModel = new Model_AccountInfo();
            infoModel = info.GetInfoForNavbar(User.Identity.Name);
            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">

                    @*<!-- Messages: style can be found in dropdown.less-->
                        <li class="dropdown messages-menu menu-item ">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                <i class="fa fa-envelope nav-top-userInfo-icon"></i>
                                <span class="label label-success">0</span>
                            </a>

                        </li>
                        <!-- Notifications: style can be found in dropdown.less -->
                        <li class="dropdown notifications-menu menu-item">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-bell nav-top-userInfo-icon" style="padding-right: 7px;"></i>
                                <span class="label label-warning">0</span>
                            </a>

                        </li>*@
                    <!-- User Account: style can be found in dropdown.less -->
                    <li class="dropdown user user-menu menu-item ">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                            <i class="glyphicon glyphicon-user  nav-top-userInfo-icon"></i>

                            <span class="hidden-xs nav-username">@infoModel.Name</span>
                        </a>
                        <ul class="dropdown-menu">
                            <!-- User image -->
                            <li class="user-header">


                                <img src="~/Content/Images/abstract-user-flat-3.png" style="width:100px;height:100px;" class=" img-circle" alt="User Image">

                                <p>
                                    @infoModel.Name
                                    <br />
                                    <small>@infoModel.Role</small>
                                </p>
                            </li>

                            <li class="user-footer">
                                <div class="pull-left">
                                    <a href="@Url.Action("index","Portal")" class="btn btn-default btn-flat" style="width:65px;">داشبورد</a>
                                </div>
                                <div class="pull-right">
                                    <a href="@Url.Action("PortalLogout","Account")" class="btn btn-default btn-flat" style="width:65px;">خروج</a>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        }
    }
    else
    {
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                <li class="btn navbar-btn nav-item-out-login ">
                    <a href="@Url.Action("PortalLogin","Account")" class="nav-item-out-login-a" style="padding:6px 0px 0px 0px;">
                        <i class="glyphicon glyphicon-education nav-item-out-login-a-i-login "></i>
                        <span class="hidden-xs " style="font-size:13px;">پرتال دانشجویان</span>
                    </a>

                </li>
            </ul>
        </div>

    }
}
